@model ControleDeFuncionariosMVC.Models.Cargo

@{
    ViewData["Title"] = "Details";
}

<h4>Detalhes do cargo</h4>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CargoId" class="btn btn-primary" style="width: 90px;margin-top:10px;">Editar</a> 
    <a asp-action="Index"  class="btn btn-warning d-inline-block" style="width: 90px; margin-top:10px;">Voltar</a>
</div>
